<ion-header>
  <ion-toolbar>
    <ion-title>print-page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="report-body">
    <box [data]="registerData"></box>
    
    <!-- <ion-card>
      <ion-card-content>
        <ion-grid>

          <ion-row>
            <ion-col>
              <h2>Avaliado</h2>
            </ion-col>
            <ion-col></ion-col>
            <ion-col>
              <h2>Avaliação</h2>
            </ion-col>
            <ion-col></ion-col>
          </ion-row>

          <ion-row>
            <ion-col style="color:red">
              Nome: Adebaldo
            </ion-col>
            <ion-col></ion-col>

            <ion-col>
              Data: 07/01/2016
            </ion-col>
            <ion-col>
              11:18:07
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              Idade: 28
            </ion-col>
            <ion-col>
              Sexo: M
            </ion-col>

            <ion-col>
              Alguma coisa
            </ion-col>
            <ion-col></ion-col>
          </ion-row>

        </ion-grid>
      </ion-card-content>
    </ion-card> -->
  </div>
</ion-content>