
ion-header ion-icon[name=print]{
    font-size: 1.5rem;
    padding: 0.75rem;
}

.formulas-container-h{
    display: flex;
    justify-content: center;
    width: 100%;
}

.formulas-container{
    display: grid;
    justify-content: center;
    flex-flow: row;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

@media(max-width: 700px){
    .formulas-container{
        grid-template-columns: none;
    }    
}